# Ignore Python cache and virtual environment
__pycache__/
*.pyc
.venv/

# Ignore OAuth secrets and tokens
token.json
client_secrets.json

# Ignore logs and misc
*.log
used_videos.txt
client_b64.txt
token_b64.txt
client_motivational_quotes.json
tokens_motivational.json
client_motivational_base64.txt
token_motivational_base64.txt
token_motivational.pickle